/*header {
  background-color: red;
}
main {
  background-color: orange;
}
nav {
  background-color: yellow;
}
 main {
  background-color: greenyellow;
}
article {
  background-color: green;
}
section {
  background-color: blue;
}
footer {
  background-color: purple;
}
*/