/*@import "templatecolours.css";*/

body {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
/*
header {
  background-color: green;
}

main {
  background-color: blue;
}

section {
  background-color: orange;
}

aside {
  background-color: yellow;
}

article {
  background-color: purple;
}*/

/* Navigation Bar*/

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav > ul > li {
  float: left;
}

nav > ul > li a {
  display: block;
  color: #000000;
  text-align: center;
  padding: 10px 30px;
  text-decoration: none;
}

li a:hover {
  color: #363636;
}

/* Image Sizing CSS*/

#csdmlogo{
    width: 300px;
}

#banner{
    max-width: 960px;
}

#hos{
    width: 200px;
    float: left;
    padding-right: 10px;
}

/* Text styling*/
h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

p, h2, h3, h4, h5, a{

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h3, h4, h5 {

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

/*font sizes*/
h1{
    font-size: 20px;
}
h2{
    font-size: 18px;
}
h3{
    font-size: 16px;
}
h4{
    font-size: 14px;
}
p{
    font-size:13px ;
}
a{
    font-size: 13px;
}

/* colorings*/
#news{
    background-color: #DBC9DF;
}
#events{
    background-color: #782a7e;
}
footer{
    background-color: #363636;
}
aside p,h3,h4{
    color: white;
}


section > h3 {
    color:black;
}

/*margin fixes*/
aside p,h3,h4{
    margin: 0;
}
aside h3{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

aside h4{

    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

aside p{
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
aside{
    padding-right: 0px !important;
    margin-top: -5px !important;
}

main{
    padding-right: 0px !important;
}

.textal{
    text-align: justify;
}

/* fotter */
footer{
    background-color:  grey;
}
footer>p{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    color: white;
}